*.dll
api/EventSchedulerAPI/bin/**
api/EventSchedulerAPI/obj/**
api/EventSchedulerAPI/EventSchedulerAPI.csproj.user
api/EventSchedulerAPI/.vs/EventSchedulerAPI/v17/.suo
api/EventSchedulerAPI/.vs/EventSchedulerAPI/DesignTimeBuild/.dtbcache.v2
